@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}





@font-face {
  font-family: 'Lufga';
src: url('/LufgaRegular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Riyal';
    src: url('/saudi_riyal.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  
  .riyal-symbol {
    font-family: 'Riyal', sans-serif !important;
}

@layer base {
  *{
    font-family: 'Lufga', sans-serif;
  }


}
  


body {
  background: var(--background);
  color: var(--foreground);
}
